.cardDiv {
    position: relative;
    padding: 2rem 1rem;
    background: var(--white-color);
    border-radius: 10px;
    gap: 1rem;

    label {
        display: block;
        color: var(--text-color);
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .input {
        height: 40px;
        padding: 0 1rem;
        background: var(--input-color);
        border-radius: 3rem;

        input {
            color: rgb(129 129 129);
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            &::placeholder {
                font-size: 13px;
            }
        }

        .icon {
            font-size: 18px;
            color: var(--primary-color)
            !important;
            margin-left: 10px;
        }

        .input[type=range]{
            background: blue;
        }
    }

    .searchOptions {
        position: absolute;
        background: var(--gradient-color);
        width: max-content;
        bottom: -0.7rem;
        column-gap: .8rem;
        padding: 5px 1rem;
        border-radius: 3rem;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        cursor: pointer;
        
        &:hover {
            background: var(--primary-color);
        }

        .icon {
            font-size: 18px;
        }

        span {
            font-size: 13px;
        }
    }
}
