/* Colors */
:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: #FFF;
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-deam: hsl(0, 0%, 93%);
    --gray-text: rgb(190, 190, 190);
    --input-color: rgb(229, 229, 229);
    --body-color: rgb(240, 240, 246);
    --card-background: rgb(225, 225, 235);
}
  
.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(47, 106, 127);
        mix-blend-mode: hard-light;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--white-color);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv {
            position: relative;
            padding: 2rem 1rem;
            background: var(--white-color);
            border-radius: 10px;
            gap: 1rem;

            label {
                display: block;
                color: var(--text-color);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background: var(--input-color);
                border-radius: 3rem;

                input {
                    color: rgb(129 129 129);
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;
                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icon {
                    font-size: 18px;
                    color: var(--primary-color)
                    !important;
                    margin-left: 10px;
                }

                .input[type=range]{
                    background: blue;
                }
            }

            .searchOptions {
                position: absolute;
                background: var(--gradient-color);
                width: max-content;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;
                
                &:hover {
                    background: var(--primary-color);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: var(--white-color);
                font-weight: 600;
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }


}