/* Colors */
:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: #FFF;
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-deam: hsl(0, 0%, 93%);
    --gray-text: rgb(190, 190, 190);
    --input-color: rgb(229, 229, 229);
    --body-color: rgb(240, 240, 246);
    --card-background: rgb(225, 225, 235);
  }


  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color-deam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

    .logo {
        color: var(--black-color);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
            color: var(--primary-color);
            transform: translateY(5px);
        }
    }

    @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--white-color-deam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .5s ease-in-out;

            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;
    
                .navItem {
                    padding: .5rem 0;
    
                    .navLink {
                        color: var(--text-color);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }

                .btn {
                    margin-top: 1rem;
    
                    a {
                        font-weight: 600;
                        color: var(--white-color);
                    }
                }
            }
    
            .closeNavbar {
                position: absolute; 
                top: 1rem;
                right: 1.5rem;
                color: var(--primary-color);
                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .activeNavbar {
            top: 7rem;
        }
    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--primary-color);
        }
        &:hover.icon {
            color: var(--secondary-color);
        }
    }
  }
/* ------------------ MEDIA QURIES ------------------ */

@media screen and (min-width: 769px) {
    .toggleNavbar, .closeNavbar {
        display: none;
    }

    .header {
        padding: 1.5rem 2rem;

        .navBar {
            .navLists {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem {
                    .navLink {
                        color: var(--text-color);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }

                .btn {
                    margin-left: 1rem;

                    a {
                        color: var(--white-color);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .header {
        .navBar {
            .navLists {
                .navItem {
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 1rem 8.5rem;
    }
}
