/* Colors */
:root{
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: #FFF;
    --black-color: hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --white-color-deam: hsl(0, 0%, 93%);
    --gray-text: rgb(190, 190, 190);
    --input-color: rgb(229, 229, 229);
    --body-color: rgb(240, 240, 246);
    --card-background: rgb(225, 225, 235);
}

.aboutUsBody {
    .container {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;

        .discription {
            margin-bottom: 2rem;
            text-align: justify;
            color: var(--text-color);
        }

        .contactUs {
            .contactUsHeader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                row-gap: 1rem;

                padding: 1rem 1rem;
                margin-bottom: 2rem;
                border-radius: 1rem;

                text-align: center;
                font-size: 12px;

                color: var(--white-color);
                background: var(--gradient-color);
          
                .email, .call {
                    color: var(--white-color);
                    h3 {
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                }
            
                .line {
                    width: 100px;
                    height: 1px;
                    background-color: var(--white-color);
                }
            }
        }     
        
        .deals {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2rem;
            margin-bottom: 2rem;
            
            .deal {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                color: var(--text-color);
                font-size: 13px;

                .icon {
                    border-radius: 7px;
                    height: 70px;
                    width: 70px;
                    color: var(--white-color);
                    background: var(--gradient-color);
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                svg {
                    font-size: 3rem;
                }
            }
        }

        .follow-us {
            .title {
                position: relative;
                width: max-content;
                color: var(--text-color);
                margin: 1rem 0;
                z-index: 2;
    
                &::after {
                    position: absolute;
                    content: "";
                    background: var(--secondary-color);
                    height: 5px;
                    width: 100px !important;
                    right: -10px;
                    top: 24px;
                    z-index: -1;
                }
            }

            .iconsTray {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 0.5rem;
                font-size: 15px;
                align-items: center;
                justify-content: center;

                .facebook, .insta, .whatsapp, .tripadvisor {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: var(--text-color);

                    a{
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .packageDetailBody {
        .container {
            .destinationRouting {
                .dailyRoutingItem {
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .aboutUsBody {
        .container {
            .deals {
                grid-template-columns: repeat(2, 1fr);        
           }

        .follow-us {
                .iconsTray {
                    grid-template-columns: repeat(4, 1fr);
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .aboutUsBody {
        .container {
            .contactUs {
                .contactUsHeader {
                    flex-direction: row;
                    padding: 1rem 10rem;
                    font-size: 16px;
                    
                    .line {
                        width: 1px;
                        height: 50px;
                    }
                }
            }

            .deals {
                grid-template-columns: repeat(3, 1fr);
            }
        }

    }
}